.region{
    display:flex ; 
    justify-content: space-between;
    width : 100%; width: 100%;
    max-width: 100vw;
    overflow: hidden;
    .regionContainer{
        flex : 6;
        .mainContainer {
            display :  flex;
            justify-content : space-between;
            padding : 20px;
            align-items : start;
            gap : 20px;
        }
    }
}