$start : left;
$end :right;

$colors  :"7367f0" ,  "f0678d" ,  "ddb264" , "5ed38c";

@each $color in $colors {
    .bg-#{$color} {
        background-color : #{"#"+$color}
    }
  }


.widget{
    display : flex ;
    flex : 1;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    min-width : 250px;
    border-radius: 10px;
    min-height: 130px;
    overflow: hidden;
    position : relative;
    --webkit-box-shadow : 2px 4px 10px 1px rgb(0,0,0,.47) ;
    box-shadow : 2px 4px 10px 1px rgb(201,201,201,.47);
    .end {
        display: flex;
        flex-direction: column;
        .counter{
            color: #ffffff;
            font-size: 24px;
            font-weight: 500;
            line-height: 1;
            text-align : #{$end}
        }
        .title{
            color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            display: inline-block;
            margin-top: 5px;
            text-transform : capitalize;
            text-align : #{$end}
        }
        .link{
            background-color: #ffffff;
            border-radius : 5px;
            cursor: pointer;
            font-size: 14px;
            box-shadow: 0 3px 5px 0 rgb(18 38 63 / 20%);
            margin-top: 1rem!important;
            padding: 0.25rem 0.5rem;
            line-height: 1.5;
        }
    }
    .start{
        align-self: self-start;
        color: #fff;
    }
    i.icon-stat{
        position:absolute;
        bottom : 0;
        #{$start} :0;
        font-size: 100px;
        color: rgba(255, 255, 255, 0.15);
        margin-#{$start}: -15px;
        margin-bottom: -4px;
    }
}